<div style="text-align:center">
    <carpediem-sample-header></carpediem-sample-header>
    <mat-tab-group>
      <mat-tab label="todos">

        <ng-template matTabContent>
          <carpediem-sample-todo-add (submitted)="addTodo($event)"></carpediem-sample-todo-add>
          <carpediem-sample-todo-list [item]="todo"></carpediem-sample-todo-list>
        </ng-template>

      </mat-tab>
      <mat-tab label="history">

        <ng-template matTabContent>
          <carpediem-sample-log-list></carpediem-sample-log-list>
        </ng-template>
        
      </mat-tab>
    </mat-tab-group>
</div>