<div style="text-align:center">
  <test-greeting [title]="title"></test-greeting>
    <mat-tab-group>
      <mat-tab label="pasta">
        <ng-template matTabContent>
          The <em>best</em> pasta
        </ng-template>
        <h1>Best pasta restaurants</h1>
        <p>...</p>
      </mat-tab>
      <mat-tab label="sushi">
        <ng-template matTabContent>
          <mat-icon>thumb_down</mat-icon> The worst sushi
        </ng-template>
        <h1>Terrible sushi restaurants</h1>
        <p>...</p>
      </mat-tab>
    </mat-tab-group>
</div>